body {
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
}

header,
footer {
    padding: 10px;
    color: white;
    background-color: black;
    padding-left: 10%;
    padding-right: 10%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section {
    margin: 0px;
    padding: 60px;
    background-color: lightgrey;
    padding-left: 10%;
    padding-right: 10%;
    height: 500px;
}

article {
    width: 30%;
    height: 100px;
    margin: 5px;
    padding: 10px;
    background-color: darkorange;
    float: left;
    display: inline-block;
}

nav {
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    margin: 5px;
    color: white;
    font-size: 20px;
    display: inline;
}